body {
	font-family: "Roboto", sans-serif;
}

.header-link:focus,
.link:hover {
	color: #4d5ae5;
	text-decoration: underline #404bbf;
}
.adress-mail:focus,
.adress-mail:hover {
	color: #4d5ae5;
}

.adress-tel:hover,
.adress-tel:focus {
	color: #4d5ae5;
}

.footer-span {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #f4f4fd;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.mail:focus {
}

a {
	text-decoration: none;
}
.mail:hover {
}
/* header */

.header {
}

.header-span {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.header-span-2 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}
.header-link-studio {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}
.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
	cursor: pointer;
}
.header-list {
}
.adress-list {
}
.adress-tel {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.adress-mail {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* hero */

.hero-section {
	background: #2e2f42;
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}
.hero-btn {
	background: #4d5ae5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
	background-color: rgba(64, 75, 191, 1);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* section2 */

.section-2-list {
}
.section-2-list-items {
}
.section-2-list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.section-2-list-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* section3 */

.section-3-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

/* Our team */

.team {
	background-color: #f4f4fd;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}
.team-list {
}
.team-list-object {
}
.team-list-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.team-list-description {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #434455;
}

/* footer */

.footer {
	background-color: #2e2f42;
}
.foooter-link {
}
.footer-description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #e7e9fc;
}

/* Portfolio */

.hero-portfolio {
}
.hero-portfolio-btn {
	background: #f4f4fd;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	cursor: pointer;
}
.hero-portfolio-description {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: #4d5ae5;
	cursor: pointer;
}
.hero-portfolio-all {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;

	color: #ffffff;
}
.hero-portfolio-btn-all {
	background: #404bbf;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	cursor: pointer;
}
.portfolio {
}
.portfolio-list {
}
.portfolio-list-objects {
}
.portfolio-list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.portfolio-list-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: #434455;
}

.hero-portfolio-description:focus,
.hero-portfolio-description:hover {
	color: #4d5ae5;
	text-decoration: underline #404bbf;
}
